/tmp/
/bin/src/DesktopInteract/obj/
/bin/src/DesktopInteractServer/obj/
/bin/src/DesktopInteractServer/bin/x64/
/bin/src/SoundCapture/obj/
/bin/src/DesktopInteract/bin/
/bin/src/DesktopInteractServer/bin/
/bin/src/SoundCapture/bin/